# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.CursedCity.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UnrealEngineSSD\Projects\CursedCity\.idea\.idea.CursedCity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
